.error {
    color: #ef4444;
    font-size: 13px;
    margin: auto;
    font-weight: 500;
    text-align: start;
    width: 95%;
}
.datepicker-picker{
    padding: 4px;
}

.datepicker-picker .datepicker-controls .button{
    background-color: red;
    display: none;
}
/* .datepicker-controls{
    margin-top: 0;
    margin-bottom: 0;
} */
/* 
.datepicker-grid{
    grid-template-columns: repeat(7, minmax(0, 1fr));
    width: 320px;
    height: 200px;

} */


